:root {
    font-family: 'Cormorant SC';
    background-color: #263238;
    color: white;
}
h1{
    font-family: 'Bungee Hairline';
    border-bottom: 1px solid white;
    text-align: center;
}
.dropdown-trigger {
    text-align: center;
    color: white;
    font-family: 'Press Start 2P';
    font-size: 12px;
}

.btn-large {
    background-color: #b71c1c;
    color: black;
}